/* start global */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --blue: #66b3ff;
    --yellow: #ffc61a;
    --black: #2b2c2c;
    --gray: #7d8792;
    --darkgray: #2d2e2e;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
ul {
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* small screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* larger screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global */

/* start header */
header {
    background-color: var(--black);
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo {
    color: #fff;
    font-size: 36px;
}
header nav .toggle-menu {
    color: #fff;
    font-size: 24px;
}
@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    display: flex;
}
header ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray);
    padding: 14px;
    margin-right: 8px;
}
header ul li a:hover {
    color: #fff;
}
.hire-me a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--gray);
    padding: 14px;
    border-left: 1px solid var(--gray);
}
.hire-me a:hover {
    color: #fff;
}
@media (max-width:767px) {
    header nav ul {
        display: none;
    }
    header nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
    }
    header nav ul li {
        background-color: #f5f5f5;
        padding: 14px;
        transition: 1s;
    }
    header nav ul li:not(:last-child) {
        border-bottom: 1px solid #ccc;
    }
    header nav ul li:hover {
        padding-left: 25px;
    }
    header ul li a:hover {
        color: #000;
    }    
    .hire-me a {
        display: none;
    }
}
/* end header */

/* start home contect */
.home {
    background-image: url(../Images/eduardo-gorghetto-iUvd2nDOmQU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(99vh - 70px);
    position: relative;
}
.home .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.home .intro-text h1 {
    color: var(--blue);
    font-size: 34px;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
    white-space: nowrap;
}
.home .intro-text h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4px;
}
.home .intro-text a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    padding: 12px;
    border: 1px solid var(--blue);
    border-radius: 20px;
    margin-top: 25px;
    display: inline-block;
}
/* end home contect */

/* start about section */
#about {
    background-color: var(--darkgray);
    padding: 120px 0;
}
#about .container {
    display: flex;
    flex-direction: row;
    position: relative;
}
#about .container .owner {
    padding-right: 25px;
}
.about-text h2{
    color: var(--blue);
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
}
.about-text p {
    color: #bac8d3;
    font-size: 14px;
    line-height: 26px;
}
@media (max-width:768px) {
    #about .container .owner {
        display: none;
    }
}
/* end about section */

/* start services section */
#services {
    background-color: var(--darkgray);
    padding-bottom: 90px;
}
#services .container h2 {
    color: var(--blue);
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin: 0 0 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#services .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 0; 
}
.services-card-wrapper {
    padding: 20px;
    background-color: #212222;
}
.services-card-wrapper .serv-icon{
    color: var(--blue);
    font-size: 22px;
}
.services-card-wrapper h3{
    color: #fff;
}
.services-card-wrapper p {
    color: #bac8d3;
}
@media (max-width:767px) {
    .services-card-wrapper {
        text-align: center;
    }
}
/* end services section

/* start success outcomes */
#outcomes {
    padding: 120px 0;
    background-image: url(../Images/outcomes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#outcomes .records {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
@media (max-width:767px) {
    #outcomes .records {
        flex-direction: column;
    }
    .records-card {
        margin-bottom: 14px;
    }
}
.records i {
    color: var(--blue);
    font-size: 30px;
}
.records span {
    display: block;
    color: var(--blue);
    font-size: 30px;
    margin: 20px 0;
}
.records h3 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
}
/* end success outcomes */

/* start portfolio section  */
#portfolio {
    padding: 120px 0;
    background-color: var(--darkgray);
}
#portfolio .container h2 {
    color: var(--blue);
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#portfolio .portfolio-btns {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}
.portfolio-btns li a {
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 12px;
    margin: 10px;
    transition: all 0.2s ease-in-out 0s;
}
.active, .portfolio-btns li a:hover {
    background-color: var(--blue);
    color: #fff !important;
}
#portfolio .portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}
/* end portfolio section  */

/*  start contact section */
#contact {
    background-color: var(--darkgray);
    padding-bottom: 50px;
}
#contact h2 {
    color: var(--blue);
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#contact .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contact form {
    flex: 1 1 70%;
    padding-right: 20px;
}
#contact .form-top {
    width: 100%;
    display: flex;
}
input[type=text] , [type=email] {
    width: 50%;
    padding: 15px;
    border-radius: 25px;
}
textarea, input[type=submit] {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
}
#contact .info {
    flex: 0 0 30%;
}
#contact .info-box i {
    color: var(--blue);
    font-size: 18px;
}
#contact .info-box p {
    color: #fff;
    font-size: 14px;
    max-width: 200px;
}
@media (max-width:425px) {
    #contact .contact-wrapper {
        flex-direction: column;
    }
    #contact form {
        margin-bottom: 25px;
    }
    #contact .info-box {
        text-align: center;
    }
    #contact .info-box p {
        max-width: 350px;
    }
}
/*  end contact section */

/* start footer */
footer {
    background-color: #242527;
    padding: 30px 0;
}
footer .container {
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-links i:not(:last-child) {
    margin-right: 8px;
}
.social-links i:hover {
    color: var(--gray);
}
footer .container p {
    font-size: 14px;
}
footer .container p i {
    color: var(--blue);
}
/* end footer */